{% extends 'base.html.twig' %}

{% block title %}Billet index{% endblock %}

{% block body %}
<div class="sm:ml-72 mt-10">
    <div class="flex justify-between items-center">
        <h1 class="text-bold text-3xl mb-10">Billet</h1>
        <a href="{{ path('app_billet_new') }}"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mr-20 rounded mb-10">Ajouter un ticket</button></a>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mr-20">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Concert</th>
                    <th scope="col" class="px-6 py-3">Type</th>
                    <th scope="col" class="px-6 py-3">Prix</th>
                    <th scope="col" class="px-6 py-3">Quantité Disponible</th>
                    <th scope="col" class="px-6 py-3"><span class="sr-only">Actions</span></th>
                </tr>
            </thead>
            <tbody>
                {% for billet in billets %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">{{ billet.concert }}</td>
                        <td class="px-6 py-4">{{ billet.type }}</td>
                        <td class="px-6 py-4">{{ billet.prix }}</td>
                        <td class="px-6 py-4">{{ billet.quantiteDisponible }}</td>
                        <td class="px-6 py-4 text-right">
                           
                            <a href="{{ path('app_billet_edit', {'id': billet.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="flex justify-center">
                        <td class="px-6 py-4" colspan="5">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
